FLASK_ENV=development
SECRET_KEY=change-me
JWT_SECRET_KEY=change-me-too
DATABASE_URL=postgresql://user:password@localhost:5432/movie_club5
TMDB_API_KEY=e508eb4fac146dc3e426488cec04c238
TMDB_TOKEN=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJhODk1YTE4YTJhMzkwMzdlZjNkYTk4OGM1OTA3OGQyYyIsIm5iZiI6MTc4ODI0NTI0NC4wNjcwMDAyLCJzdWIiOiI2YTk2NzRmY2NkZWI0MGQwMGQ4ZWE0ZGEiLCJzY29wZXMiOlsiYXBpX3JlYWQiXSwidmVyc2lvbiI6MX0.j31dcJoeRj77OScQ7_qRy68MA7uzetfeDMy5H7oeHBk